[run]
branch = True
omit =
    */migrations/*
    */tests/*
    */__init__.py
    manage.py
    */wsgi.py
    */asgi.py
    */tests.py
    adminpanel/views.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == '__main__'
