{% extends 'doctors/dashboard.html' %}
{% load static %}

{% block dashboard_content %}

  <div class="lg:col-span-7 col-span-1 p-6 bg-gray-200 overflow-y-auto">
    <div class="container mx-auto p-6">
      <div class="bg-white shadow-md rounded-lg p-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">Appointments</h1>
        <div class="grid gap-6">
          {% for apt in appointments %}

          <div class="bg-gray-100 shadow-sm rounded-lg p-6 flex flex-col md:flex-row items-center">
            <div class="w-full md:w-2/3">
              <div class="text-gray-600 mb-1">Appointment Date {{ apt.appointment_date }}</div>
              <div class="text-gray-600 mb-1">Requested on {{ apt.created_at  }}</div>
              <div class="text-gray-600 mb-1">Doctor {{ apt.doctor }}</div>
              <div class="text-gray-600 mb-4">Status: {{ apt.status }}</div>




              {% if apt.status == 'accepted' %}

              <p class="text-xl font-semibold text-green-700 mb-2">Your Appontment has been Confirmed by Dr. {{apt.doctor}}!</p>
              <p class="text-m font-semibold text-orange-700 mb-2">Contact Information</p>
              <div class="text-gray-600 mb-4">Landlord Phone {{ apt.doctor.phone_number }}</div>
              <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition duration-300 font-bold">
                <a href="{% url 'schedule_appointment' apt.id %}">Start Chat</a>
              </button>
              <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition duration-300 font-bold">
                <a href="{% url 'schedule_appointment' apt.id %}">Start Video Call</a>
              </button>
              
   
              
              {% endif %}

              {% if apt.status == 'pending' %}
              <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300 font-bold">
                <a href="{% url 'edit_appointment' apt.id %}">Edit Appointment</a>
                </button>
              <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition duration-300 font-bold">
                <a href="{% url 'delete_appointment' apt.id %}">Delete Appointment</a>
                </button>
              {% endif %}
            </div>
            <div class="w-full md:w-1/3 mt-4 md:mt-0 md:ml-6">
              <img src="{{ apt.doctor.photo.url }}" class="w-full rounded" alt="Doctor's Image">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
