{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-gray-200 font-[sans-serif] text-[#333]">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="max-w-3xl w-full border py-8 px-6 rounded border-gray-300 bg-white">
      <a href="javascript:void(0)"><img src="{% static '/images/logo.png' %}" alt="logo" class='w-40 mb-10' /></a>
 
      

    <form method="post" class="space-y-4">
      {% csrf_token %}
      <h1 class=" text-2xl font-extrabold text-gray-800">Edit Appointment</h1>

      <div class="space-y-4">
        <label for="id_appointment_date" class="block text-sm font-medium text-gray-700">{{form.appointment_date.label}}</label>
        <input type="datetime-local" name="appointment_date" value="{{ form.appointment_date.value|date:'c' }}">

      </div>
      
      <div class="space-y-4">
        <label for="id_address" class="block text-sm font-medium text-gray-700">{{form.additional_requests.label}}</label>
        <div class="w-full text-sm px-3 py-2 rounded border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50">
          {{ form.additional_requests}}
        </div>
      </div>

      <h3 class=" text-xl  font-bold text-red-800">Notice</h3>
      <h6 class=" text-xl  font-bold text-gray-600">The doctor will approve or decline your appointment request and notify you.</h6>


      <div class="flex items-center">
        <button type="submit" class="btn bg-blue-500 text-white items-cen hover:bg-blue-700 px-4 py-2 rounded">
          Edit Appointment
        </button>
      </div>
    </form>
  </div>
</div>
</section>

{% endblock %}
