@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.msg-container *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.msg-container{
    width: 100%;
    letter-spacing: 0.5px;
    height: 100%;
    padding: 30px;
}

.msg-container img{
    width: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
    object-fit: cover;
}

.msg-container .msg-header{
    border: 1x solid #ccc;
    color: white;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color:  rgba(1, 50, 82, 0.842);
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.msg-container .msgimg{
    margin-left: 2;
}

.msg-container .container1{
    width: 270px;
    height: auto;
    float: left;
    display: flex;
    margin: 0;
    padding: 5px;
}

.msg-container .active{
    width: 150px;
    color: white;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
}

.msg-container .chat-page{
    padding: 0 0 30px 0;
    height: 100%;
}

.msg-container .msg-inbox{
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.msg-container .chats{
    padding: 30px 15px 0 25px;
    height: 90%;
}

.msg-container .msg-page{
    height: 100%;
    overflow-y: auto;
}

.msg-bottom{
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 0;
    height: 11%;
}

.input-group{
    float: left;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 80% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: stretch;
    padding-left: 10px;
    padding-bottom: 3px;
}


.input-group > .form-control{
    position:relative;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
}

.form-control{
    border:none !important;
    border-radius: 20px !important;
    display: block;
    height:  calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text{
    background-color: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color:  #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

.msg-container input:focus{
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

.send-icon{
    font-weight: bold !important;
}


.received-chats-img{
    width: 50px;
    float: left;
}

.received-msg{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox{
    width: 57%;
    float: left;
}

.received-msg-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0, 0, 0 / 25%) 0px 5px 5px 2px;
}


.msg-container p{
    overflow-wrap: break-word;
}

.outgoing-chats{
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p{
    background-color: rgba(1, 50, 82, 0.842);
    background-image: linear-gradient(135deg, #013256 0%, rgba(1, 50, 82, 0.842) 25%, #015a99 50%, #0282c4 75%, #0094d8 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}


.outgoing-chats-msg{
    float: right;
    width: 46%;
}

.outgoing-chats-img{
    width: 50px;
    align-items: right;
    float: right;
}


