{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/signup.css' %}">
    <title>Doctor Log in</title>
</head>

<body>
    <header>
        <div class="left-side">
            <img src="{% static 'images/electrocardiogram.png' %}" alt="pulse">
            <p>Doctor Portal</p>
        </div>
    </header>
    <div class="wrap">
        
        <div class="container">
            <form method='POST' action="{% url 'DoctorLogin' %}">{% csrf_token %}
                <p class="top-p">Log in</p>
                <div class="form-group">
                    <p>User name</p>
                    {{ user_form.username }}
                    {% for error in user_form.username.errors %}
                        <div class="error" style="color: red;">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <p>Password</p>
                    {{ user_form.password }}
                    {% for error in user_form.password.errors %}
                        <div class="error" style="color: red;">{{ error }}</div>
                    {% endfor %}
                </div>

                {% if user_form.non_field_errors %}
                    {% for error in user_form.non_field_errors %}
                        <div class="error" style="color: red;">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                <div class="button-div">
                    <button type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>