<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <title>Patient Portal</title>
</head>

<body>
    <nav class="nav-bar">
        <header class="Patient-portal">
            <img src="images/electrocardiogram.png" />
            <p>Patient Portal</p>
        </header>

        <div class="dashboard-container">
            <img src="images/dashboard.png">
            <button class="dash-button">Dashboard</button>
        </div>

        <div class="posts">
            <img src="images/social.png" alt="posts">
            <button class="posts-button">Posts</button>
        </div>

        <div class="appointments">
            <img src="images/appointment.png">
            <button class="appointment-button">Appointments</button>
        </div>

        <div class="doctors">
            <img src="images/medical-team.png">
            <button class="Doctors-button">Doctors</button>
        </div>
        <div class="messages">
            <img src="images/comments.png" >
            <button class="message-button">Messages</button>
        </div>

        <div class="profile">
            <img src="images/user.png" alt="profile">
            <button class="profile-button">Profile</button>
        </div>

        <div class="logout">
            <img src="images/logout.png" alt="logout">
            <button class="logout-button">Log out</button>
        </div>
    </nav>
    <div class="search">
        <div class="left-search"><p>Search</p></div>
        <input type="text" class="search-input" placeholder="Type Dr's name to search...">
        <div class="right-search"><img src="images/magnifying-glass.png" alt="magnifying"></div>
    </div>
    <div class="container">
    </div>

    <div class="chat-bot">
        <button><img src="images/live-chat.png" alt="chat-bot"></button>
    </div>

</body>
</html>