{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="min-h-screen flex flex-col lg:flex-row">
  <!-- Burger menu for small screens -->
  <div class="bg-gray-800 text-white w-full lg:hidden">
    <div class="flex items-center justify-between p-4">
      <img src="{% static 'images/logo.png' %}" alt="logo" class="w-20">
      <button id="burger-menu" class="text-white focus:outline-none">
        <img src="{% static 'images/user.png' %}" alt="posts">
      </button>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" class="bg-gray-800 text-white w-64 flex-shrink-0 hidden lg:block fixed lg:relative top-0 left-0 h-full lg:h-auto z-50 lg:z-auto">
    <nav class="mt-10">
      <div class="flex items-center justify-center py-6">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="w-32">
      </div>
      <a href="{% url 'PatientProfile' %}" class="flex items-center p-2 text-sm font-medium rounded-lg hover:bg-gray-200 transition">
        <img src="{% static 'images/user.png' %}" alt="posts">
        <span class="ml-3">My profile</span>
      </a>
      <a href="{% url 'view_doctor_appointments' %}" class="flex items-center p-2 text-sm font-medium rounded-lg hover:bg-gray-200 transition">
        <img src="{% static 'images/appointment.png' %}" alt="posts">
        <span class="ml-3">Appointments</span>
      </a>

      <a href="{% url 'view_doctor_appointments' %}" class="flex items-center p-2 text-sm font-medium rounded-lg hover:bg-gray-200 transition">
        <img src="{% static 'images/comments.png' %}" >
        <span class="ml-3">Messages</span>
      </a>
      <a href="{% url 'post_list' %}" class="flex items-center p-2 text-sm font-medium rounded-lg hover:bg-gray-200 transition">
        <img src="{% static 'images/appointment.png' %}" >
        <span class="ml-3">Read Posts</span>
      </a>
      
      <a href="{% url 'BrowseDoctors' %}" class="flex items-center p-2 text-sm font-medium rounded-lg hover:bg-gray-200 transition">
        <img src="{% static 'images/medical-team.png' %}" >
        <span class="ml-3">Browse Doctors</span>
      </a>
      
      <a href="{% url 'PatientLogout' %}" class="flex items-center p-2 text-sm font-medium rounded-lg hover:bg-gray-200 transition">
        <img src="{% static 'images/logout.png' %}" alt="logout">
        <span class="ml-3">Log Out</span>
      </a>

      
    </nav>
  </div>

  <!-- Main content -->
  <div class="flex-grow bg-gray-100 p-6">
    {% block dashboard_content %}
    <!-- Placeholder for actual content -->
    {% endblock %}
  </div>

</div>

{% endblock %}
